* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home-grid-container *{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    margin-right: 1px;
    background-color: aliceblue;
    flex-direction: column;
}

.home-grid-container{
      display: grid;
      height: 100vh;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas: "header header header header"
                           "filter main main main"
                           "filter main main main"
                           "filter footer footer footer";
      grid-gap: 5px;
  }
  
.header{
    grid-area: header;
}

.filter{
    grid-area: filter;    
}

.main{
    grid-area: main;  
    align-items:flex-start; 
}

.footer{
    grid-area: footer;
}