* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home-grid-container *{
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
    flex-direction: column;    
}

.home-grid-container{
      display: grid;
      height: 100vh;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas: "header header header header"
                           "filter main main main"
                           "filter main main main"
                           "filter footer footer footer";
      grid-gap: 5px;
  }
  
.header{
    grid-area: header;
    padding: 20px;
    color: white;
    background-color: #0352fc;
    font-size: 24px;
    font-weight: 500;
}

.filter{
    grid-area: filter;    
    align-items: flex-start;
    background-color: #F5F5F5;
}

.main{
    grid-area: main;  
    align-items:flex-start; 
    background-color: #F5F5F5;
}

.footer{
    grid-area: footer;
    background-color: #F5F5F5;
    padding: 5px;
}

